<div class="message <%= user_is_message_author ? "host" : "" %>">
  <%= image_tag message.user.profile.profile_photo, crop: "scale", gravity: "faces", format: "png", class: "chat-avatar" %>
  <div class= "message-text"><%= message.message %></div>
  <p class="user-name">
    <em>
      <%= message.user.full_name %>
    </em>
    <span>
      <%= time_ago_in_words(message.created_at) %>
    </span>
  </p>
</div>