<div class="container">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-12">
        <div class="profile-heading">
          <div>
            <% if @profile.profile_photo.attachment %>
            <%= image_tag @profile.profile_photo, height: '120px', width: '120px', crop: "scale", gravity: "faces", format: "png", secure: true, class: "muwe-avatar-large"%>
            <% end %>
          </div>
          <h2>Edit <%= @profile.user.first_name %>'s profile</h2>
        </div>
      </div>
      <div class="col-6">
        <%= simple_form_for @profile do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">

            <%= f.fields_for current_user do |user_form| %>
                <%= user_form.input :email, required: true, autofocus: true %>
                <%= user_form.input :first_name, required: true %>
            <% end %>
              <%= f.input :last_name %>
              <%= f.input :birth_date, as: :date, start_year: Date.today.year - 90, end_year: Date.today.year - 10 %>
              <%= f.input :bio %>
              <%= f.input :profile_photo, as: :file %>
          </div>


          <div class="form-actions">
            <%= f.button :submit, "Update", class: 'btn-primary' %>
            <%= link_to "Back", :back, class: 'btn btn-outline-secondary float-right' %>
          </div>
        <% end %>
      </div>
      <div class="col-5 offset-1">
        <div class="row">
          <div class="col-12">
            <h3>Add your instruments</h3>

            <div class="instruments-list" data-controller="profiles">
              <%= render 'instrument_users/instruments', instruments: @profile.instruments %>
            </div>

            <div class="instrument-wrapper" data-controller="profiles">
              <%= form_tag profile_instrument_users_path(@profile), remote: true, class: 'form-inline', data: { action: 'ajax:success->profiles#create_instrument_users', target: 'profiles.form' } do %>
                <div id="instruments-list" data-list="<%= Instrument.all.pluck(:id, :name).to_json %>"></div>
                <%= select_tag :instrument_id, options_from_collection_for_select(Instrument.all, "id", "name"), {
                  include_blank: true, multiple: false, class: 'select2 instrument-select', data: { target: 'profiles.testing' } } %>
                <%= submit_tag 'Add instrument', class: 'btn btn-sm btn-primary' %>
              <% end %>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-12">
            <div class="mt-5">
              <h4>Cancel my account</h4>
              <p class="text-justify">Unhappy with our website ? We couldn't help you solve your pain ?</p>
              <p>&nbsp;</p>
              <p><%= link_to "Cancel my account", registration_path(User), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-outline-danger' %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
