<div class="profile">
  <div class="row">
    <div class="col-4">
      <div class="profile-photo">
        <%= image_tag @profile.profile_photo %>
      </div>
    </div>
    <div class="col-8">
      <p>
        <%= @profile.user.first_name %>
        <%= @profile.last_name %>
      </p>
      <p>
        <%= @profile.birth_date %>
      </p>
      <p>
        <%= @profile.city %>
      </p>
      <p>
        <%= @profile.bio %>
      </p>
    </div>
  </div>
</div>
