<h1>Public profile</h1>
<ul>
  <li><%= @profile.user.first_name %></li>
  <li><%= @profile.last_name %></li>
  <li><%= @profile.birth_date %></li>
  <li><%= @profile.city %></li>
  <li><%= @profile.bio %></li>
</ul>
