<div class="profile">
  <div class="row">
    <div class="col-4">

      <div class="profile-general box">

        <div class="left">
          <div class="profile-photo">
            <%= image_tag @profile.profile_photo %>
          </div>
        </div>
        <div class="right">
          <div class="profile-name">
            <%= @profile.user.full_name %>
          </div>
          <div class="profile-city">
            <i class="fas fa-map-marker-alt"></i>
            <%= @profile.city %>
          </div>
        </div>

      </div>

    </div>
    <div class="col-8">

      <p>
        <%= @profile.birth_date %>
      </p>
      <p>
        <%= @profile.city %>
      </p>
      <p>
        <%= @profile.bio %>
      </p>

    </div>
  </div>
</div>
