<div class="container">
  <div class="content-wrapper profile">
    <div class="row">
      <div class="col-4">

        <div class="profile-general shadow">

          <div class="left">
            <div class="profile-photo">
              <% if @profile.profile_photo.attachment %>
                <%= image_tag @profile.profile_photo, secure: true %>
              <% else %>
                <%= image_tag (cl_image_path 'default_instrument_image', secure: true) %>
              <% end %>
            </div>
          </div>
          <div class="right">
            <div>
              <div class="profile-name">
                <%= @profile.user.full_name %>
              </div>
              <div class="profile-city">
                <i class="fas fa-map-marker-alt"></i>
                <%= @profile.city %>, Portugal
              </div>
              <%= @profile.birth_date %>
            </div>
            <div class="stats">
              <div class="comments">
                <div class="number"><%= Random.rand(0...9999) %></div>
                <div>Comment</div>
              </div>
              <div class="followers">
                <div class="number"><%= Random.rand(0...9999) %></div>
                <div>Followers</div>
              </div>
              <div class="following">
                <div class="number"><%= Random.rand(0...9999) %></div>
                <div>Following</div>
              </div>
            </div>
          </div>

        </div>

        <div class="profile-about shadow">
          <h3>About</h3>
          <div class="profile-bio">
            <%= @profile.bio %>
          </div>

          <div class="profile-social">
            <i class="fab fa-twitter"></i>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-pinterest"></i>
            <i class="fab fa-whatsapp"></i>
            <i class="fab fa-instagram"></i>
          </div>
        </div>

        <div class="profile-instruments shadow">
          <h3>Instruments</h3>
          <div class="list-inline">
            <% @profile.instruments.order_by_name.each do |i| %>
              <div class="tag-item list-inline-item">
                <%= i.name %>
              </div>
            <% end %>
          </div>
        </div>

      </div>
      <div class="col-8">

        <div class="shadow">
          <div class="profile-tabs">
            <div class="profile-tab active">
              <div class="title">Activity</div>

            </div>

            <!--
            <div class="profile-tab">
              <div class="title">Timeline</div>
            </div>
            <div class="profile-tab">
              <div class="title">More</div>
            </div>
            -->

          </div>

          <div class="profile-tab-content">

            <% if @profile.user == current_user %>
              <p class="h5">
                Hi <%= @profile.user.first_name %>, say hi to the community!
              </p>
            <% else %>
              <% if @profile.user.posts.blank? %>
                <p class="h5">Nothing yet published by <%= @profile.user.full_name %> :(</p>
              <% else %>
                <p class="h5">Last activity by <%= @profile.user.full_name %></p>
              <% end %>
            <% end %>

            <%= render 'posts/form', profile: @profile, post: Post.new %>

            <div id="posts" class="mt-2">
              <% unless @profile.user.posts.blank? %>
                <% @profile.user.posts.order(created_at: :desc).each do |post| %>
                  <%= render 'posts/show', post: post %>
                <% end %>
              <% end %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

