<div class="navbar">
  <div class="navbar-content">

    <div class="navbar-logo">
      <%= link_to root_path do %>
      <%= image_tag 'muwe-logo.svg', height: '95px', width: '95px' %>
      <% end %>
    </div>

    <div class="navbar-logo">
      <%= link_to root_path do %>
      <%= image_tag 'muwe-logo.svg', height: '95px', width: '95px' %>
      <% end %>
    </div>

    <div class="navbar-logo">
      <%= link_to root_path do %>
      <%= image_tag 'muwe-logo.svg', height: '95px', width: '95px' %>
      <% end %>
    </div>
  </div>
</div>
