
  <div class="event-wrapper swiper-slide muwe-shadow">

    <div class="event-photo">
      <% if event.location_photo.attachment %>
        <%= image_tag (event.location_photo), height: '71px', width: '71px', crop: "scale", format: "png", secure: true, class: "i-event-image" %>
      <% end %>

      <div class="event-status">
        <% if event.ongoing? %>
        <i class="fas fa-circle" style="color: #6BB382"></i>
        <% else %>
        <i class="fas fa-circle" style="color: #44AEE6"></i>
        <% end %>
        <span>
          <%= event.status.capitalize %>
        </span>
      </div>
    </div>

    <div class="event-title">
      <%= event.title %>
    </div>
    <div class="d-flex justify-content-between">
      <div class="event-style">
        <%= event.music_style.style %>
      </div>
      <div class="participants">
        <i class="fas fa-users"></i>
        <%= event.participants.count %>/<%= event.max_players %>
      </div>
    </div>
    <div class="event-time">
      <i class="fas fa-clock"></i>
      <%= event.start_time.to_s(:time) %> => <%= event.end_time.to_s(:time) %>
    </div>
  </div>

