<div class="container">
  <%= simple_form_for @event do |f| %>
    <div class="row">
      <div class="col-sm-8 title-form-input">
        <%= f.input :title, input_html:{ class: "no-border"} %>
      </div>

      <div class="col-sm-4 add-photo-form-input">
          <%= f.input :location_photo, as: :file, input_html:{ placeholder: 'Localização', class: "no-border"} %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8 description-form-input">
        <%= f.input :description, input_html:{ class: "no-border"} %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8 date-time">
        <div class="address-form-input">
          <%= f.input :address, input_html: { placeholder: 'Include a place or address', class: "no-border" } %>
        </div>
        <div id='flat-booking-dates'>
          <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
        </div>
        <div class="start-time-form-input">
          <%= f.input :start_time, as: :time, default: Time.parse('18:00'), input_html: { placeholder: '00:00', class: "no-border" } %>
        </div>
        <div class="end-time-form-input">
          <%= f.input :end_time, as: :time, default: Time.parse('18:00'), input_html: { placeholder: '00:00', class: "no-border" } %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8 music-players">
        <div class="music-style">
          <%= f.association :music_style, input_html: { placeholder: 'pick a music style', class: "no-border"}, selected: 1 %>
        </div>
        <div class="max-players">
          <%= f.input :max_players, collection: 2..16, selected: Date.today, input_html: { class: "no-border" } %>
        </div>
      </div>
    </div>

    <%= f.submit %>
  <% end %>
</div>


<div id="info">Observe the platform icon's motion direction when there is up and down hover on options.</div>

<form id="app-cover">
            <div id="select-box">
                    <input type="checkbox" id="options-view-button">
                    <div id="select-button" class="brd">
                            <div id="selected-value">
                                <span>Select a platform</span>
                            </div>
                            <div id="chevrons">
                                    <i class="fas fa-chevron-up"></i>
                                    <i class="fas fa-chevron-down"></i>
                            </div>
                    </div>
                    <div id="options">
                            <div class="option">
                                    <input class="s-c top" type="radio" name="platform" value="codepen">
                                    <input class="s-c bottom" type="radio" name="platform" value="codepen">
                                    <i class="fab fa-codepen"></i>
                                    <span class="label">CodePen</span>
                                    <span class="opt-val">CodePen</span>
                            </div>
                            <div class="option">
                                    <input class="s-c top" type="radio" name="platform" value="dribbble">
                                    <input class="s-c bottom" type="radio" name="platform" value="dribbble">
                                    <i class="fab fa-dribbble"></i>
                                    <span class="label">Dribbble</span>
                                    <span class="opt-val">Dribbble</span>
                            </div>
                            <div class="option">
                                    <input class="s-c top" type="radio" name="platform" value="behance">
                                    <input class="s-c bottom" type="radio" name="platform" value="behance">
                                    <i class="fab fa-behance"></i>
                                    <span class="label">Behance</span>
                                    <span class="opt-val">Behance</span>
                            </div>
                            <div class="option">
                                    <input class="s-c top" type="radio" name="platform" value="hackerrank">
                                    <input class="s-c bottom" type="radio" name="platform" value="hackerrank">
                                    <i class="fab fa-hackerrank"></i>
                                    <span class="label">HackerRank</span>
                                    <span class="opt-val">HackerRank</span>
                            </div>
                            <div class="option">
                                    <input class="s-c top" type="radio" name="platform" value="stackoverflow">
                                    <input class="s-c bottom" type="radio" name="platform" value="stackoverflow">
                                    <i class="fab fa-stack-overflow"></i>
                                    <span class="label">StackOverflow</span>
                                    <span class="opt-val">StackOverflow</span>
                            </div>
                            <div class="option">
                                    <input class="s-c top" type="radio" name="platform" value="freecodecamp">
                                    <input class="s-c bottom" type="radio" name="platform" value="freecodecamp">
                                    <i class="fab fa-free-code-camp"></i>
                                    <span class="label">FreeCodeCamp</span>
                                    <span class="opt-val">FreeCodeCamp</span>
                            </div>
                            <div id="option-bg"></div>
                    </div>
            </div>
    </form>


