<span class="btn-filter-close"><i class="fas fa-times-circle"></i></span>
  <%= simple_form_for :filter, url: search_path, method: :get, remote: true do |f| %>
    <%= f.input :day, as: :date %>
    <%= f.input :start_time, as: :time %>
    <%= f.input :end_time, as: :time %>
    <%= f.input :participants, collection: (0..20) %>
    <%= f.input :status, collection: ['Ongoing', 'Planned'], selected: 'Ongoing' %>
    <%= f.submit %>
  <% end %>
