<div class="container-fluid">
  <div class="row">

    <div class="col-5">

      <div class="box mb-5">
        <h2>heading</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem ipsa assumenda fugiat quasi aspernatur quia possimus dignissimos incidunt. Beatae et nostrum reiciendis voluptates. Saepe, tempora facere at facilis maxime error.</p>
      </div>
      <div class="box mb-5">
        <h2>heading</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem ipsa assumenda fugiat quasi aspernatur quia possimus dignissimos incidunt. Beatae et nostrum reiciendis voluptates. Saepe, tempora facere at facilis maxime error.</p>
      </div>
      <div class="box mb-5">
        <h2>heading</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem ipsa assumenda fugiat quasi aspernatur quia possimus dignissimos incidunt. Beatae et nostrum reiciendis voluptates. Saepe, tempora facere at facilis maxime error.</p>
      </div>
      <div class="box mb-5">
        <h2>heading</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem ipsa assumenda fugiat quasi aspernatur quia possimus dignissimos incidunt. Beatae et nostrum reiciendis voluptates. Saepe, tempora facere at facilis maxime error.</p>
      </div>
      <div class="box mb-5">
        <h2>heading</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem ipsa assumenda fugiat quasi aspernatur quia possimus dignissimos incidunt. Beatae et nostrum reiciendis voluptates. Saepe, tempora facere at facilis maxime error.</p>
      </div>
      <div class="box mb-5">
        <h2>heading</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem ipsa assumenda fugiat quasi aspernatur quia possimus dignissimos incidunt. Beatae et nostrum reiciendis voluptates. Saepe, tempora facere at facilis maxime error.</p>
      </div>
    </div>

    <div class="col-7">


      <div class="new-event-wrapper">

        <div class="new-event-box box">
          <%= link_to 'create jam', new_event_path, class: 'btn create-event' %>
        </div>

        <div class="map-wrapper box">
          <div id="map" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
        </div>

          <div class="events-wrapper">
            <% @events.each do |event| %>
              <div class="event-wrapper box">

                <div class="event-photo">
                  <% if event.location_photo.attachment %>
                    <%= image_tag (event.location_photo), height: '71px', width: '71px', crop: "scale", format: "png", class: "i-event-image" %>
                  <% else %>
                    <%= image_tag ('park.jpg'), height: '71px', width: '71px', crop: "scale", format: "png", class: "i-event-image" %>
                  <% end %>

                  <div class="event-status">
                    <% if event.ongoing? %>
                      <i class="fas fa-circle" style="color: #6BB382"></i>
                    <% else %>
                      <i class="fas fa-circle" style="color: #44AEE6"></i>
                    <% end %>
                    <span>
                      <%= event.status.capitalize %>
                    </span>
                  </div>
                </div>

                <div class="event-title">
                  <%= event.title %>
                </div>
                <div class="d-flex justify-content-between">
                  <div class="event-style">
                    <%= event.music_style.style %>
                  </div>
                  <div class="participants">
                    <i class="fas fa-users"></i>
                    <%= event.participants.count %>/<%= event.max_players %>
                  </div>
                </div>
                <div class="event-time">
                  <i class="fas fa-clock"></i>
                  <%= event.start_time.to_s(:time) %> => <%= event.end_time.to_s(:time) %>
                </div>
              </div>
            <% end %>
          </div>

        </div>
    </div>

  </div>
</div>







<!--
<div class="index-event-filter">
  <div class="spacer"></div>
  <div class="filters">
    <%= form_tag root_path, method: :get, remote: true do   %>
      <input type="submit" value="Today" class="filter">
    <% end %>
    <button class="filter" data-toggle="modal" data-target="#timeModal">Time</button>
    <button class="filter" data-toggle="modal" data-target="#cityModal">City</button>
    <button class="filter">Status</button>
    <button class="filter">Trust</button>
  </div>
</div>

<div class="index-page-content">
  <div id="i-events">
    <%= render @events %>
  </div>
</div>

<%= render "events/modals/time_modal" %>
<%= render "events/modals/city_modal" %>
-->
