<div class="events">
  <% @events.each do |event| %>
  <div class="card">
    <ul>
      <li><%= event.title %></li>
      <li><%= event.address %></li>
      <%#= event.description %>
      <li><%= event.max_players %></li>
      <li><%= event.start_date %></li>
      <li><%= event.end_date %></li>
  </ul>
</div>
<% end %>
</div>
<div id="map" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
