  <div class="row">

    <div class="col-5">


      <div class="muwe-shadow box mb-4">
        <div class="post-edit">
          <h5>What are you up to ?</h5>
          <form action="">
            <div>
              <textarea name="" id="" class="form-control" cols="30" rows="1" placeholder="Post your content"></textarea>
            </div>
            <div class="mt-2">
              <button class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>


      <div class="post box muwe-shadow mb-3">
        <h2 class="title">Lorem ipsum dolor sit.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem ipsa assumenda fugiat quasi aspernatur quia possimus dignissimos incidunt. Beatae et nostrum reiciendis voluptates. Saepe, tempora facere at facilis maxime error.</p>
        <div class="social-container">
          <span>Share on</span>
          <button><i class="fab fa-facebook"></i></button>
          <button><i class="fab fa-twitter"></i></button>
          <button><i class="fab fa-instagram"></i></button>
          <button><i class="fab fa-linkedin"></i></button>
        </div>
      </div>
      <div class="post box muwe-shadow mb-3">
        <h2 class="title">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem ipsa assumenda fugiat quasi aspernatur quia possimus dignissimos incidunt. Beatae et nostrum reiciendis voluptates. Saepe, tempora facere at facilis maxime error.</p>
        <div class="social-container">
          <span>Share on</span>
          <button><i class="fab fa-facebook"></i></button>
          <button><i class="fab fa-twitter"></i></button>
          <button><i class="fab fa-instagram"></i></button>
          <button><i class="fab fa-linkedin"></i></button>
        </div>
      </div>
      <div class="post box muwe-shadow mb-3">
        <h2 class="title">Lorem ipsum dolor sit amet consectetur.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem ipsa assumenda fugiat quasi aspernatur quia possimus dignissimos incidunt. Beatae et nostrum reiciendis voluptates. Saepe, tempora facere at facilis maxime error.</p>
        <div class="social-container">
          <span>Share on</span>
          <button><i class="fab fa-facebook"></i></button>
          <button><i class="fab fa-twitter"></i></button>
          <button><i class="fab fa-instagram"></i></button>
          <button><i class="fab fa-linkedin"></i></button>
        </div>
      </div>
      <div class="post box muwe-shadow mb-5">
        <h2 class="title">Lorem ipsum dolor sit amet.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem ipsa assumenda fugiat quasi aspernatur quia possimus dignissimos incidunt. Beatae et nostrum reiciendis voluptates. Saepe, tempora facere at facilis maxime error.</p>
      </div>
      <div class="post box muwe-shadow mb-5">
        <h2 class="title">Lorem ipsum dolor sit amet consectetur.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem ipsa assumenda fugiat quasi aspernatur quia possimus dignissimos incidunt. Beatae et nostrum reiciendis voluptates. Saepe, tempora facere at facilis maxime error.</p>
      </div>
      <div class="post box muwe-shadow mb-5">
        <h2 class="title">Lorem ipsum dolor sit.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem ipsa assumenda fugiat quasi aspernatur quia possimus dignissimos incidunt. Beatae et nostrum reiciendis voluptates. Saepe, tempora facere at facilis maxime error.</p>
      </div>
    </div>

    <div class="col-7">


      <div class="new-event-wrapper">

        <div class="new-event-box muwe-shadow">
          <%= link_to 'create jam', new_event_path, class: 'btn create-event' %>
          <%= form_tag root_path, method: :get, remote: true do   %>
            <input type="submit" value="Today" class="filter">
          <% end %>
          <button class="filter" data-toggle="modal" data-target="#timeModal">Time</button>
          <button class="filter" data-toggle="modal" data-target="#cityModal">City</button>
          <button class="filter" data-toggle="modal" data-target="#statusModal">Status</button>
        </div>

        <div class="map-wrapper muwe-shadow">
          <div id="map" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

          <div class="swiper-container">
            <div id="events-wrapper" class="swiper-wrapper">

              <%= render @events %>


            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-scrollbar"></div>
          </div>

        </div>



      </div>
    </div>

  </div>


<%= render "events/modals/time_modal" %>
<%= render "events/modals/city_modal" %>
<%= render "events/modals/status_modal" %>
