<div>
  <%= link_to 'create jam', new_event_path, class: 'btn create-event' %>
</div>
<div id="map" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<div class="index-event-filter">
  <div class="spacer"></div>
  <div class="filters">
    <button class="filter">All</button>
    <button class="filter" data-toggle="modal" data-target="#timeModal">Time</button>
    <button class="filter" data-toggle="modal" data-target="#cityModal">City</button>
    <button class="filter">Status</button>
    <button class="filter">Trust</button>
  </div>
</div>

<div class="index-page-content">
  <div id="i-events">
    <%= render @events %>
  </div>
</div>

<%= render "events/modals/time_modal" %>
<%= render "events/modals/city_modal" %>
