<div class="map-wrapper">
  <div id="map" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  <div class="swiper-container">
    <div id="events-wrapper" class="swiper-wrapper">
      <%= render @events %>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-scrollbar"></div>
  </div>

  <div class="new-event-wrapper">
    <div class="new-event-box muwe-shadow">
      <%= link_to 'create jam', new_event_path, class: 'btn create-event' %>
      <%= form_tag root_path, method: :get, remote: true do   %>
        <input type="submit" value="Today" class="filter">
      <% end %>
      <button class="filter" data-toggle="modal" data-target="#timeModal">Time</button>
      <button class="filter" data-toggle="modal" data-target="#cityModal">City</button>
      <button class="filter" data-toggle="modal" data-target="#statusModal">Status</button>
    </div>
  </div>
</div>


<%= render "events/modals/time_modal" %>
<%= render "events/modals/city_modal" %>
<%= render "events/modals/status_modal" %>
