
<div class="container-fluid">

  <div class="jams-header">
    <h1>All our jams</h1>
    <%= link_to new_event_path, class: 'btn' do %>
      <i class="fas fa-plus-circle"></i>
      create jam
    <% end %>
  </div>

  <div class="jams-options">
    <div class="jams-filters">
      <a href="#" class="btn btn-outline-secondary">Select all</a>
      <a href="#" class="btn btn-outline-secondary">Featured</a>
      <a href="#" class="btn btn-outline-secondary">most comments</a>
      <a href="#" class="btn btn-outline-secondary">up coming</a>
    </div>
    <div class="jams-sorting">
      <a href="#">Sort by</a>
    </div>
  </div>

  <div class="row">
    <% @events.each do |event| %>
    <% unless event.finished? %>
    <div class="col-sm-4 col-xl-3 jams">
      <div class="jam-card">
        <%= link_to event_path(event.id) do %>
        <div class="card-img-top" >
          <% if event.location_photo.attachment %>
            <%= image_tag (event.location_photo), height: '71px', width: '71px', crop: "scale", format: "png", class: "card-img-top" %>
          <% else %>
            <%= image_tag ('park.jpg'), height: '71px', width: '71px', crop: "scale", format: "png", class: "card-img-top" %>
          <% end %>
        </div>
        <% end %>
        <div class="card-body">
          <div class="jam-title">
            <strong><%= event.title %></strong>
          </div>
          <div class="jam-date">
            <%= event.start_date.strftime("%A, %d %B") %>
            <%#= event.start_time.strftime("%H:%M") %>
          </div>
          <div class="jam-address">
            <i class="fas fa-map-marker-alt"></i>
            <%= "#{event.address}, #{event.city}" %>
          </div>
          <div class="jam-owner">
            <i class="fas fa-user"></i>
            <label>created by</label>
            <span>
              <%= event.user.full_name %>
            </span>
          </div>
            <%= link_to event_path(event.id) do %>
          <% end %>
            <% if event.accepted_participants.count > 0 %>
              <div class="jam-attendees">
                <span class="total-attendees"><%= pluralize(event.accepted_participants.count, 'participant') %></span>
                <% if event.accepted_participants.count > 5 %>
                  <div class="jam-attendee-item">
                    <%= cl_image_tag "https://res.cloudinary.com/dhemw39dw/image/upload/v1583593594/grey_ball_up9bao.png", crop: "scale", gravity: "faces", format: "png", class: "attendee-avatar" %>
                  </div>
                <% end %>
                 <% event.accepted_participants.limit(5).each do |participant| %>
                  <div class="jam-attendee-item">
                    <% if participant.user.profile.profile_photo.attachment  %>
                      <%= cl_image_tag participant.user.profile.profile_photo.key, crop: "scale", gravity: "faces", format: "png", class: "attendee-avatar" %>
                    <% else %>
                      <%= cl_image_tag "https://res.cloudinary.com/dhemw39dw/image/upload/v1583601864/computer-icons-user-profile-scalable-vector-graphics-clip-art-png-favpng-QqdJAykRhq2KYp42tCHXsWDqB_rkwokm.jpg", crop: "scale", gravity: "faces", format: "png", class: "attendee-avatar" %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% else %>
              <p>Be the first to join!</p>
            <% end %>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
