<div class="container">
  <h1 class="mb-4">All our jams</h1>

  <div class="row">
    <% @events.each do |event| %>
    <% unless event.finished? %>
    <div class="col-sm-4 col-xl-3 jams">
      <div class="jam-card">
        <%= link_to event_path(event.id) do %>
        <div class="card-img-top" >
          <% if event.location_photo.attachment %>
            <%= image_tag (event.location_photo), height: '71px', width: '71px', crop: "scale", format: "png", secure: true, class: "card-img-top" %>
          <% end %>
        </div>
        <% end %>
        <div class="card-body">
          <div class="jam-title">
            <strong><%= event.title %></strong>
          </div>
          <div class="jam-date">
            <%= event.start_date.strftime("%A, %d %B") if event.start_date%>
            <%#= event.start_time.strftime("%H:%M") %>
          </div>
          <div class="jam-address">
            <i class="fas fa-map-marker-alt"></i>
            <%= "#{event.address}, #{event.city}" %>
          </div>
          <div class="jam-owner">
            <i class="fas fa-user"></i>
            <label>created by</label>
            <span>
              <%= event.user.full_name %>
            </span>
          </div>
            <%= link_to event_path(event.id) do %>
          <% end %>
            <% if event.accepted_participants.count > 0 %>
              <div class="jam-attendees">
                <span class="total-attendees"><%= pluralize(event.accepted_participants.count, 'participant') %></span>
                <% if event.accepted_participants.count > 5 %>
                  <div class="jam-attendee-item">
                    <%= cl_image_tag "//res.cloudinary.com/dhemw39dw/image/upload/v1583593594/grey_ball_up9bao.png", crop: "scale", gravity: "faces", format: "png", secure: true, class: "attendee-avatar" %>
                  </div>
                <% end %>
                 <% event.accepted_participants.limit(5).each do |participant| %>
                  <div class="jam-attendee-item">
                    <% if participant.user.profile.profile_photo.attachment  %>
                      <%= cl_image_tag participant.user.profile.profile_photo.key, crop: "scale", gravity: "faces", format: "png", secure: true, class: "attendee-avatar" %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% else %>
              <p>Be the first to join!</p>
            <% end %>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>