<h1>All our jams</h1>
<div class="jams">
  <% @events.each do |event| %>
    <% unless event.finished? %>
      <%= link_to event_path(event.id) do %>
        <%= image_tag(("logo.png"), class: "small-card-image") %>
        <p>Organised by : <%= event.user.first_name %> <%= event.user.profile.last_name %></p>
        <p>at : <%= event.country %> <%= event.city %> <%= event.address %></p>
        <p><%= event.title %></p>
        <p><%= event.description %></p>
        <p>Participants : <%= event.max_players %></p>
        <p>Status : <%= event.status %></p>
        <p>Date : <%= event.start_date %></p>
        <p>At : <%= event.start_time %> for <%= event.duration %></p>
      <% end %>
    <% end %>
  <% end %>
</div>
<%= link_to "Create a new event", new_event_path %>
