
<div class="container-fluid">

  <h1>All our jams</h1>

  <%= link_to "Create a new event", new_event_path %>


  <div class="row">
  <% @events.each do |event| %>
  <% unless event.finished? %>
    <div class="col-sm-4 jams">
    <%= link_to event_path(event.id) do %>
      <div class="jam-card">
        <div class="card-img-top" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path event.location_photo %> );" >

        </div>

            <div class="card-body">
                <table class="table table-borderless">
                  <tbody><tr></tr>
                  <tr>
                    <td class="jam-date"><i></i></td>
                    <td>
                      <%= event.start_date.strftime("%^a, %d %b AT ") %><%= event.start_time.strftime("%H:%M") %>
                    </td>
                  </tr>
                  <tr>
                    <td><i class="jam-title"></i></td>
                    <td>
                      <strong><%= event.title %></strong>
                    </td>
                  </tr>
                  <tr>
                    <td><i class="jam-attendees"></i></td>
                    <td>
                      100+ people attending
                    </td>
                  </tr>
                </tbody></table>
            </div>

      </div>
  <% end %>
        </div>
  <% end %>
  <% end %>
  </div>
</div>
