
<br>

<div class="container">
 <div class="header-button-back">
  <span><i class="fas fa-chevron-left"></i></span> Back
</div>

<div class="top-content" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://makingmusicmag.com/wp-content/uploads/2015/07/guitar-907652_1280.jpg)">
  <div class="teste">
    <div class="left-top-card">
      <div class="event-title">
        <%= @event.title %>
      </div>
      <div class="event-host">
        <h5>By <%= link_to @event.user.full_name  %></h5>
      </div>
      <br>
      <div class="event-address">
        <h5><i class="fas fa-map-marker-alt"></i><%= @event.address %>, <%= @event.city %></h5>
      </div>
    </div>
  </div>

  <div class="right-top-card">
    <div><h4><strong>Date & Time</strong></h4>
      <span><h5><div class="event-start-time"><%= @event.start_date.strftime("%A, %d %B") if @event.start_date %> at <%= @event.start_time.to_s(:time) %></div></h5></span>
    </div>
    <br>
    <div class="going-to-play-btn"><%= link_to 'Go play', event_add_participant_path(@event.id), method: :post %></div>
    <div class="going-to-watch-btn"> Go watch </div>
  </div>
</div>
<br>

<div class="below-content">
  <div class="teste2">
    <div class="switch-buttons">
      <div class="buttons-list">
        <li><h5><div class="about-btn">About</div></h5></li>
        <li><h5><div class="chat-btn">Chat</div></h5></li>
      </div>
    </div>
    <div class="left-below-card">
      <div class="players-card">
        <h4><strong>Players</strong></h4>
        <p><div class="warning-players">There are still X spots left out of <%= @event.max_players %>!</div></p> <!-- It would be nice if we could have the number for X! -->
        <table style="width:100%">
          <tr class="table-titles">
            <th>Player</th>
            <th>Instrument</th>
            <th>Rating</th>
          </tr>
          <tr>
            <td> <div class="host-info2">
              <%= image_tag "https://miro.medium.com/fit/c/256/256/0*5qs0rmcj7-nuNnBq.jpg", class: "host-avatar" %>
              <div class="host-name"><%= link_to @event.user.full_name %> (Host)</div>
            </div>
          </td>
          <td>Guitar</td>
          <td><div class="host-rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
        </td>
      </tr>
      <tr>
        <td><div class="host-info2">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "host-avatar" %>
          <div class="host-name">Jon Doe</div>
        </div>
      </td>
      <td>Drums</td>
      <td><div class="host-rating">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
    </td>
  </tr>
</table>
<% if @event.accepted_participants.count > 0 %>
<div class="play-btn">I want to play!</div>
<% else %>
<div class="play-btn">I want to play!</div>
<!-- <div class="play-btn">Be the first player to join!</div> -->
<% end %>

  <div class="list-of-details">
      <h4><strong>Details</strong></h4>
      <div class="participants"><span class="fas fa-guitar"></span> 20 players responded to the event</div>
      <div class="music-style"><span class="fas fa-music"></span>Music style: <%= @event.music_style.style %></div>
      <div class="event-time-detail"><span class="fas fa-clock"></span> <%= @event.start_date.strftime("%A, %d %B") if @event.start_date %> from <%= @event.start_time.to_s(:time) %> to <%= @event.start_time.to_s(:time) %> </div>
      <div class="event-address-detail"><span class="fas fa-map-marker-alt"></span><%= @event.address %>, <%= @event.city %></div>
      <div class="event-description"><%= @event.description %></div>
  </div>
</div>
</div>
</div>

<div class="teste3">
  <div class="like-share-buttons">
    <div class="buttons-list">
      <ul>
        <li><div class="like-btn"><span class="fas fa-heart"></span>Interested</div></li>
        <li><div class="share-btn"><span class="fas fa-share-alt"></span></div></li>
      </ul>
    </div>
  </div>
  <h4><strong><div class="event-sub-titles"> Event Location </div></strong></h4>
  <div class="right-below-card" style="background-image: url(https://onepagelove.imgix.net/gravity_forms/1-e6fef9602ee538adb7069defe12f9dc0/2013/02/Dellarosa_big.jpg)"></div>
  <div class="event-address-under-map"><%= @event.address %>, <%= @event.city %></div>
   <h4><strong><div class="attendees"> Go and meet new friends </div></strong></h4>
      <% if @event.accepted_participants.count > 0 %>
              <div class="jam-attendees">
                <span class="total-attendees"><%= pluralize(@event.accepted_participants.count, 'participant') %></span>
                <% if @event.accepted_participants.count > 5 %>
                  <div class="jam-attendee-item">
                    <%= cl_image_tag "https://res.cloudinary.com/dhemw39dw/image/upload/v1583593594/grey_ball_up9bao.png", crop: "scale", gravity: "faces", format: "png", class: "attendee-avatar" %>
                  </div>
                <% end %>
                 <% @event.accepted_participants.limit(5).each do |participant| %>
                  <div class="jam-attendee-item">
                    <% if participant.user.profile.profile_photo.attachment  %>
                      <%= cl_image_tag participant.user.profile.profile_photo.key, crop: "scale", gravity: "faces", format: "png", class: "attendee-avatar" %>
                    <% else %>
                      <%= cl_image_tag "https://res.cloudinary.com/dhemw39dw/image/upload/v1583601864/computer-icons-user-profile-scalable-vector-graphics-clip-art-png-favpng-QqdJAykRhq2KYp42tCHXsWDqB_rkwokm.jpg", crop: "scale", gravity: "faces", format: "png", class: "attendee-avatar" %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% else %>
              <p>Be the first to join!</p>
            <% end %>
  </div>
</div>
</div>
  <br>
   <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
<p> Pending:
  <% @event.participants.each do |participant| %>
  <% if participant.status == 'postulating' %>
  <%= link_to profile_path(participant.user.id) do %>
  <%= participant.user.first_name %>
  <% end %>
  <% end %>
  <% end %>
</p>

<p> Declined:
  <%= @event.participants.where(status: 'declined').count %>
</p>

<!-- Logic about inscription to event -->
<% if signed_in? %>
<% user_events = current_user.event_participations %>

<% if current_user == @event.user %>
<%= link_to 'Participants', event_participants_path(@event.id) %>
<%= link_to "Archive", event_path(@event.id), method: :delete, data: { confirm: 'Are you sure ? It can\'t be undone' } %>

<% else %>

<% if user_events.include?(@event) == false %>
<%= link_to 'Inscribe', event_add_participant_path(@event.id), method: :post %>

<% else %>

<% participants = Participant.where(user_id: current_user.id, event_id: @event.id) %>
<% if participants.first.status == 'declined' %>
<p>Your participation has been declined</p>

<% else %>

<%= link_to 'Uninscribe', event_remove_participant_path(@event.id), method: :delete %>

<% end %>
<% end %>
<% end %>

<% else %>
<p>To participate you need to login</p>
<% end %>
<!-- End logic about inscription to event -->

<!-- Tchat start -->
<div id="messages">
  <% if @event.participants.where(user: current_user, status: 'accepted').empty? %>
    To get access to tchat you must be a participant.
  <% else %>
    <% @event.messages.each do |message| %>
      <%= render "messages/message", message: message, user_is_message_author: message.user == current_user %>
    <% end %>
  </div>

  <%= render 'messages/form', event: @event, message: @message %>
<% end %>
<!-- Tchat end -->

<% content_for :after_js do %>
  <script>
    function scrollLastMessageIntoView() {
      const messages = document.querySelectorAll('.message')
      const lastMessage = messages[messages.length - 1]
      if(lastMessage) {
        lastMessage.scrollIntoView();
      }
    };

    <% if current_user %>
    scrollLastMessageIntoView();
    App['chat_room_<%= @event.id %>'] = App.cable.subscriptions.create({ channel: 'EventChatsChannel', event_chat_id: <%= @event.id %> }, { received: (data) => {
      if (data.current_user_id !== <%= current_user.id %>) {
        var messagesContainer = document.getElementById('messages');
        messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
        scrollLastMessageIntoView();
      }
    }
  })
  <% end %>
  </script>
<% end %>
