<h1>Events#show</h1>
<ul>
  <li><%= @event.title %></li>
  <li><%= @event.description %></li>
  <li><%= @event.user.first_name %> <%= @event.user.profile.last_name %></li>
  <li><%= @event.country %> <%= @event.city %> <%= @event.address %></li>
  <li><%= @event.max_players %> <%= @event.status %></li>
  <li><%= @event.start_date %>
  <%= @event.start_time %></li>
  <li><%= @event.end_time %></li>
</ul>

<p> Participating:
<% @event.participants.each do |participant| %>
  <% if participant.status == 'accepted' %>
    <%= link_to profile_path(participant.user.id) do %>
      <%= participant.user.first_name %>
    <% end %>
  <% end %>
<% end %>
</p>

<p> Pending:
<% @event.participants.each do |participant| %>
  <% if participant.status == 'postulating' %>
    <%= link_to profile_path(participant.user.id) do %>
      <%= participant.user.first_name %>
    <% end %>
  <% end %>
<% end %>
</p>

<p> Declined:
<%= @event.participants.where(status: 'declined').count %>
</p>

<!-- Logic about inscription to event -->
<% if signed_in? %>
<% user_events = current_user.event_participations %>

  <% if current_user == @event.user %>
    <%= link_to 'Participants', event_participants_path(@event.id) %>
    <%= link_to "Archive", event_path(@event.id), method: :delete, data: { confirm: 'Are you sure ? It can\'t be undone' } %>

  <% else %>

    <% if user_events.include?(@event) == false %>
      <%= link_to 'Inscribe', event_add_participant_path(@event.id), method: :post %>

    <% else %>

    <% participants = Participant.where(user_id: current_user.id, event_id: @event.id) %>
      <% if participants.first.status == 'declined' %>
        <p>Your participation has been declined</p>

      <% else %>

      <%= link_to 'Uninscribe', event_remove_participant_path(@event.id), method: :delete %>

      <% end %>
    <% end %>
  <% end %>

<% else %>
  <p>To participate you need to login</p>
<% end %>
<!-- End logic about inscription to event -->

<!-- Tchat start -->
  <div id="messages">
    <% @event.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>
  <%= render 'messages/form', event: @event, comment: @comment %>
<!-- Tchat end -->
