<div class="my-event">
  <div class="dashboard-event-image">
    <%= link_to event_path(event.id) do %>
      <%= image_tag event.location_photo, height: '300px', width: '200px', secure: true %>
    <% end %>
  </div>
  <div class="dashboard-participants">
    <% unless event.status == 'finished' %>
      <div class="dashboard-event-info">
        <div><strong><p><%= event.status.capitalize unless event.address.nil? %></p></strong></div>
        <div><p><%= event.address.capitalize unless event.address.nil? %></p></div>
      </div>

      <strong>Participants</strong>
      <div class="postulating-users">
        <% event.participants.order(status: :asc).each do |participant| %>
          <div class="postulating-user pb-1">
            <div>
            <%= link_to profile_path(participant.user) do %>
                <%= image_tag participant.user.profile.profile_photo, height: '45px', width: '45px', crop: "scale", gravity: "faces", format: "png", secure: true, class: "muwe-avatar" %>
                <%= participant.user.full_name %>
              <% end %>
              <%= participant.status.capitalize %>
            </div>
            <div class="mt-2">
              <% if participant.status == 'postulating' %>
                <%= link_to "Accept", event_accept_user_path(event.id, participant.id), method: :post, class: "btn btn-success" %>
                <%= link_to "Decline", event_decline_user_path(event.id, participant.id), method: :delete, class: "btn btn-danger" %>
              <% elsif participant.status == 'accepted' %>
                <%= link_to "Decline", event_decline_user_path(event.id, participant.id), method: :delete, class: "btn btn-danger" %>
              <% elsif participant.status == 'declined' %>
                <%= link_to "Accept", event_accept_user_path(event.id, participant.id), method: :post, class: "btn btn-success" %>
              <% end %>
            </div>
          </div>
          <hr>
        <% end %>
      </div>

      <div class="archive-section">
        <hr>
        <%= link_to event_path(event.id), method: :delete, data: { confirm: 'Are you sure ? It can\'t be undone' } do %>
          <i class="fa fa-trash"></i>
        <% end %>
      </div>
    <% else %>
      <div class="dashboard-event-info">
        <p><strong>Status :</strong> <%= event.status %></p>
        <p><strong>Address :</strong> <%= event.address %></p>
      </div>
      <% event.participants.each do |participant| %>
        <%= link_to profile_path(participant.user.profile.id) do %>
          <%= participant.user.full_name  %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
