<div class="my_event">
  <%= link_to event_path(event.id) do %>
    <%= image_tag event.location_photo, height: '200px', width: '300px' %>
  <% end %>
  <% unless event.status == 'finished' %>
    <%= event.status %>
    <%= event.address %>

    <div class="postulating-users">
      <p>Postulating participants</p>
      <% event.participants.where(status: 'postulating').each do |participant| %>
        <div class="postulating-user">
          <%= link_to profile_path(participant.user) do %>
              <%= image_tag participant.user.profile.profile_photo, height: '45px', width: '45px', crop: "scale", gravity: "faces", format: "png", secure: true %>
              <%= participant.user.full_name %> | <%= participant.status %>
            <% end %>
            <%= link_to "Accept", event_accept_user_path(event.id, participant.id), method: :post %>
            <%= link_to "Decline", event_decline_user_path(event.id, participant.id), method: :delete %>
        </div>
      <% end %>
    </div>

    <div class="accepted-users">
      <p>Accepted participants</p>
      <% event.participants.where(status: 'accepted').each do |participant| %>
        <div class="accepted-user">
          <% unless event.participants.where(user_id: event.user_id).include?(participant) %> <!-- Check if host -->
            <%= link_to profile_path(participant.user) do %> <!-- Host section -->
              <%= image_tag participant.user.profile.profile_photo, height: '45px', width: '45px', crop: "scale", gravity: "faces", format: "png", secure: true %>
              <%= participant.user.full_name %>
              <%= link_to "Decline", event_decline_user_path(event.id, participant.id), method: :delete %>
            <% end %>
          <% else %>
            <%= link_to profile_path(participant.user) do %> <!-- Host section -->
              <%= image_tag participant.user.profile.profile_photo, height: '45px', width: '45px', crop: "scale", gravity: "faces", format: "png", secure: true %>
              <%= participant.user.full_name %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="declined-users">
      <p>Declined participants</p>
      <% event.participants.where(status: 'declined').each do |participant| %>
        <div class="declined-user">
          <%= link_to profile_path(participant.user) do %>
              <%= image_tag participant.user.profile.profile_photo, height: '45px', width: '45px', crop: "scale", gravity: "faces", format: "png", secure: true %>
              <%= participant.user.full_name %>
            <% end %>
            <%= link_to "Accept", event_accept_user_path(event.id, participant.id), method: :post %>
        </div>
      <% end %>
    </div>

    <%= link_to "Archive", event_path(event.id), method: :delete, data: { confirm: 'Are you sure ? It can\'t be undone' } %>
  <% else %>
    <%= event.status %>
    <%= event.address %>
    <% event.participants.each do |participant| %>
      <%= link_to profile_path(participant.user.profile.id) do %>
        <%= participant.user.full_name  %>
      <% end %>
    <% end %>
  <% end %>
</div>
