<div class="participating_to_event">
  <%= link_to event_path(event.id) do %>
    <%= image_tag event.location_photo, height: '200px', width: '300px' %>
  <% end %>
  <div class="participants">
    <% event.participants.each do |participant| %>
      <% if participant.user == current_user %> <!-- Check for host -->
        <div class="current-user-participant"> <!-- You -->
          <%= link_to profile_path(participant.user.profile.id) do %>
            <%= participant.user.full_name  %>
          <% end %>
          <%= participant.status %>
          <%= link_to 'Cancel inscription', event_remove_participant_path(event.id), method: :delete %>
        </div>
      <% elsif event.participants.where(user_id: event.user_id).include?(participant) %>
        <div class="host">
          <%= link_to profile_path(participant.user.profile.id) do %>
            <%= participant.user.full_name  %>
          <% end %>
          (Host)
        </div>
      <% elsif participant.status == 'accepted' %> <!-- Other accepted participants -->
        <div class="participant">
          <%= link_to profile_path(participant.user.profile.id) do %>
            <%= participant.user.full_name  %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
