<div class="participating-to-event">
  <div class="dashboard-event-image">
    <%= link_to event_path(event.id) do %>
      <%= image_tag event.location_photo, height: '200px', width: '300px' %>
    <% end %>
  </div>
  <div class="dashboard-my-participations">
    <% event.participants.each do |participant| %>
      <% if participant.user == current_user %> <!-- Check for host -->
        <div class="current-user-participant"> <!-- You -->
          <% if participant.status == 'postulating' %>
            <p>Your postulation is <strong>pending</strong>.</p>
            <%= link_to 'Cancel inscription', event_remove_participant_path(event.id), method: :delete, class: "participations-action-button" %>
          <% elsif participant.status == 'accepted' %>
            <p>Your postulation has been <strong>accepted</strong> !</p>
            <%= link_to 'Cancel inscription', event_remove_participant_path(event.id), method: :delete, class: "participations-action-button" %>
          <% elsif participant.status == 'declined' %>
            <p>Your postulation has been <strong>declined</strong>.</p>
          <% end %>
        </div>
      <% elsif event.participants.where(user_id: event.user_id).include?(participant) %>
        <div class="host">
          <%= link_to profile_path(participant.user.profile.id) do %>
            <%= participant.user.full_name  %>
          <% end %>
          (Host)
        </div>
      <% elsif participant.status == 'accepted' %> <!-- Other accepted participants -->
        <div class="participant">
          <%= link_to profile_path(participant.user.profile.id) do %>
            <%= participant.user.full_name  %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
